@mixin flex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
}

@mixin flex-align-center {
    display: flex;
    align-items: center;
}

@mixin main-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 1.3;
    color: $accent;
    text-align: center;
}
