//Fonts
$Poppins: "Poppins", serif;
$DM_Sans: "DM Sans", sans-serif;

//Colors
$black: #171718;
$black-border: #26292d;
$white: #fff;
$purple: #5c62ec;

$dark-bg: $black;
$dark-border: $black-border;
$header-text: $white;
$accent: $purple;
$page-text-color: $black;
